body {
    font-family: "Work Sans", Arial, Helvetica, sans-serif, 'Arial Narrow', Arial, sans-serif, system-ui, 'Segoe UI', "Roboto", "Oxygen", "Cantarell", 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --main-color: aqua;
    --container-color: yellowgreen;
}

.header {
    background-color: #eee;
}

.container {
    width: 600px;
    background-color: var(--container-color);
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
}

@media (min-width:300px) {
    .container {
        width: 350px;
    }
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}


/* This is the end of designing the container uaAmer This is The basic of this template */

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container img {
    width: 60px;
    height: 60px;
}

.links {
    position: relative;
}

.header .icon {
    display: flex;
    width: 30px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .icon span {
    width: 100%;
    background-color: black;
    height: 3px;
    margin-bottom: 3px;
}

.header .icon:hover span:nth-child(2) {
    width: 100%;
}

.header .icon span:first-child {
    width: 100%;
}

.header .icon span:nth-child(2) {
    width: 80%;
}

.header .icon span:last-child {
    width: 100%;
}

.header .links ul {
    display: none;
    position: absolute;
    margin: 0px;
    top: 31px;
    right: 5px;
    list-style: none;
    background-color: #eee;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
}

.header .links ul::before {
    content: "";
    position: absolute;
    border: 10px solid #eee;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    top: -19px;
    right: 2px;
}

.header .links ul li {
    border-bottom: 2px solid black;
}

.header .links ul li:last-child {
    border-bottom: none;
}

.header .links ul li a {
    text-decoration: none;
    padding: 5px;
    transition: .3s;
    display: block;
}

.header .links ul li a:hover {
    padding-left: 3px;
}

.header .links:hover ul {
    display: block;
}


/* End of the header section */


/* The of landing section */

.landing {
    height: calc(100vh - 60px);
    background-image: url('../images/landscape.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.landing .intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.landing .intro h2 {
    color: var(--main-color);
    text-transform: capitalize;
    margin: 0px;
}

.landing .intro p {
    font-weight: bold;
    font-size: larger;
}


/* The End of landing section */


/* The Start of Feature section */

.feature {
    padding-top: 60px;
    padding-bottom: 60px;
}

.feature .container {
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.feet {
    border: 2px solid red;
}

.feature .container .feet i:first-child {
    color: var(--main-color);
}

.feature .container .feet h2 {
    color: red;
}

.feature .container .feet p {
    background-color: yellowgreen;
}


/* The Start of Feature section */


/* start of services Heading section */

.special-heading {
    margin-top: 5px;
    margin-bottom: 5px;
}

.special-heading h3 {
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    opacity: .3;
    margin: 0px;
    letter-spacing: -5px;
}

.special-heading p {
    text-align: center;
    margin-top: -10px;
}

.services .container .special-heading p {
    text-align: center;
    margin-top: -10px;
}

.services {
    background-color: transparent;
}

.services .container {
    background-color: transparent;
}

.services .container .special-heading h3 {
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    opacity: .3;
    margin: 0px;
    letter-spacing: -5px;
}

.services .container .special-heading p {
    text-align: center;
    margin-top: -10px;
}


/* End of services  Heading section */


/* The start of services content Section */

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 3px;
    margin: auto;
    justify-content: center;
    align-items: center;
    place-items: center;
}

.services .services-content .col {
    border: 2px solid red;
    display: grid;
    grid-template-columns: 25% 75%;
}

.services .services-content .right-col {
    color: var(--main-color);
    padding: 5px;
}

.services .services-content .left-col-heading {
    color: black;
    font-weight: bold;
    padding-top: 5px;
}

.services .services-content .left-col-content {
    color: #999191;
}

.services .services-content .col+img {
    overflow: hidden;
}

.services .services-content .special-image {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    z-index: -1;
}

.services .services-content .special-image::after {
    content: '';
    position: absolute;
    width: 25%;
    height: 150%;
    right: 15%;
    top: 0px;
    z-index: -1;
    background-color: black;
}

.services .services-content .special-image::after {
    width: 25%;
    height: 100%;
    right: -15%;
    top: 0px;
    z-index: -1;
}


/* The End of services content Section */


/* This is the start of portoflio section uaAmer */

.portfolio .container {
    background-color: transparent;
}

.portfolio .container .special-heading h3 {
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    opacity: .3;
    margin: 0px;
    letter-spacing: -5px;
}

.portfolio .container .special-heading p {
    text-align: center;
    margin-top: -10px;
}

.portfolio .protfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 5px;
}

.portfolio .protfolio-content .card {
    background-color: rgb(196, 177, 177);
    padding: 3px;
}

.portfolio .protfolio-content .image {
    max-width: 100%;
    max-height: 100%;
}


/* This is the End of portoflio section uaAmer */


/* This is the start of about section */

.about .container {
    background-color: transparent;
}

.about .special-heading h3 {
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    opacity: .3;
    margin: 0px;
    letter-spacing: -5px;
}

.about .special-heading p {
    text-align: center;
}

.about .about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid red;
    align-items: center;
}

.about .about-content .about-image-col {
    position: relative;
    width: 275px;
    height: 187px;
    margin-left: 30px;
}

.about .about-content .about-image-col::after {
    content: "";
    position: absolute;
    width: 25%;
    height: 116%;
    top: -16%;
    /* background-color: red; */
    border-left: 54px solid var(--main-color);
    border-bottom: 38px solid var(--main-color);
    z-index: -1;
}

.about .about-content .about-image-col::before {
    content: '';
    position: absolute;
    width: 25%;
    height: 116%;
    top: -7%;
    left: 0px;
    border-left: 54px solid red;
    z-index: -1;
}

@media (max-width:760px) {
    .about .about-content .about-image-col::before,
    .about .about-content .about-image-col::after {
        display: none;
    }
    .about .about-content .about-content-col {
        text-align: center;
    }
}

.about .about-content .about-content-col {
    flex: 1 1 200px;
}

.more-margin {
    margin-top: 50px;
}


/* This is the End of about section */


/* This is the start of the contact section uaAmer */

.contact .container {
    background-color: transparent;
}

.contact .contact-content p {
    text-align: center;
    font-size: 50px;
    letter-spacing: -5px;
    font-weight: bolder;
    color: rgb(64, 54, 54);
}

.contact .contact-content a {
    text-decoration: none;
    color: var(--main-color);
    font-size: x-larger;
    font-weight: bolder;
    font-size: 20px;
}

.social {
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
}

.social i {
    color: black;
}

.social i:hover {
    color: var(--main-color);
}

.social p {
    margin-top: 0px;
    margin-bottom: 0px;
}


/* This is the End of the contact section uaAmer */

.footer {
    padding: 2px;
    background-color: rgb(22, 50, 50);
    font-weight: bold;
    letter-spacing: -1px;
    color: white;
    text-align: center;
}

.footer span {
    color: var(--main-color);
}